@charset "UTF-8";
body{
	background-color:#e4e4e4;
	text-align:center;
	
}

form{
	border:2px solid darkgrey;
	background-color:white;
	border-radius:10px;
	display:inline-block;
	padding:100px 50px;;
	text-align:center;
	margin:150px 0;
	box-shadow:5px 10px grey;
}

form .btn{
	padding:5px 10px;
	border:2px solid black;
	border-radius:5px;
	background-color:white;
	font-weight:bold;
	font-size:medium;
	box-shadow:3px 5px grey;
	margin:5px;
}

form .btn:hover{
	cursor:pointer;
	background-color:black;
	color:white;
	border:2px solid grey;
	transition:0.3s ease;
}